.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 2rem;
  min-height: 100vh;
  margin-bottom: -150px;
  padding-top: 170px;

}

.hero-text {
  flex: 1;
  max-width: 50%;
  text-align: left; 
  padding-bottom: 450px;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-style: bold;

}

.hero-text p {
  font-size: 1rem;
  color: #65758b;
}


.hero-section .card-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: auto; 
}


.card-section {
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  
}


.card {
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.4s ease, opacity 0.4s ease;

}



.card.active {
  opacity: 1;
  transform: translateX(0);
}

.card.left {
  opacity: 0;
  transform: translateX(-100%) rotate(-10deg);
}

.card.right {
  opacity: 0;
  transform: translateX(100%) rotate(10deg);
}


.section {
  width: 100%;
  padding: 4rem 2rem;
  background: #fff;
  text-align: center;
}



.icon-box {
  width: 90px;
  height: 90px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto; 
}

.blue-bg {
  background: #2563eb; 
}

.icon-white {
  color: #fff;
}



.footer-custom {
  background: #2563eb;
  color: #fff;
  padding: 2rem 0;
  width: 99.6vw;         
  margin-left: calc(-50vw + 50%); 
  padding-top: 60px;     
  position: relative;
  bottom: -100px;
}

.footer-content {
  max-width: 1200px;   
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.footer-logo {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-links li {
  margin: 0 1rem;
}

.footer-links a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-copy {
  font-size: 0.9rem;
  color: #d1d5db;
  margin-top: 1rem;
}
